<!DOCTYPE html>
<html>
<head>
	<title>My first component library</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="container-830">
		<h1 class="text-center">Component library</h1>

		<h2>Avatar design</h2>
		
		<div class="flexbox">
			<p class="classname">avatar-small</p>
			<img src="./images/mattharbo.png" class="avatar-small avatar-hover">
		</div>

		<div class="flexbox">
			<p class="classname">avatar-big</p>
			<img src="./images/mattharbo.png" class="avatar-big avatar-hover">
		</div>
		

		<h2>Button design</h2>

		<div class="flexbox">
			<p class="classname">btn-login</p>
			<a href="#" class="btn-login">Login</a>
		</div>

		<div class="flexbox">
			<p class="classname">btn-nav</p>
			<a href="#" class="btn-nav">About</a>
		</div>

		<h2>Header design</h2>

		<p class="classname">websiteheader</p>

		<div class="websiteheader">
			<img class="websiteheader-logo" src="./images/logo-website.png">
			<ul class="websiteheader-nav">
				<li>
					<a href="#" class="btn-nav">Home</a>
				</li>
				<li>
					<a href="#" class="btn-nav">About</a>
				</li>
				<li>
					<a href="#" class="btn-nav">News</a>
				</li>
			</ul>
			<a href="#" class="btn-login">Login</a>
		</div>

		<h2>Message design</h2>

		<p class="classname">message</p>

		<div class="message">
			<img src="./images/peton.jpeg" class="avatar-big">
			<div class="message-name">
				<h2>Raphou Le peton</h2>
				<p>Dec. 8th</p>	
			</div>
			<div class="message-description">
				This is the message description
			</div>
			<div class="message-status">
				<p class="status-accepted">Accepted</p>	
				<p>132€</p>
			</div>
		</div>

		<div class="message">
			<img src="./images/mattharbo.png" class="avatar-big">
			<div class="message-name">
				<h2>Matt Harbo</h2>
				<p>Dec. 8th</p>	
			</div>
			<div class="message-description">
				This is the message description
			</div>
			<div class="message-status">
				<p class="status-refused">Refused</p>	
				<p>98€</p>
			</div>
		</div>

		<h2>Game block</h2>

		<p class="classname">gameblock</p>

		<div class="gameblock">
				<div class="gameblock-league">
					Ligue 1
				</div>
				<div class="teamname home teamname-bolder">
					This is the home team qspigherfhglhsfdgufgdhu
				</div>
				<img src="./images/psg.png" class="teamlogo hometeam"></img>
				<div class="game-info game-hour">
					21:00
				</div>
				<img src="./images/mhsc.png" class="teamlogo awayteam"></img>
				<div class="teamname away teamname-bolder">
					Away team name
				</div>
			</div>

		<p class="classname">gameblockcontainer</p>

		<div class="gameblockcontainer">
			<div class="gameblockcontainertitle">
				<img src="./images/calendar.png">
				<h3>Yesterday</h3>	
			</div>

			<div class="gameblock">
				<div class="gameblock-league">
					Copa Lib.
				</div>
				<div class="teamname home teamname-bolder">
					River Plate
				</div>
				<img src="./images/riverplate.png" class="teamlogo hometeam"></img>
				<div class="game-info game-finished">
					3 - 1
				</div>
				<img src="./images/bocajunior.png" class="teamlogo awayteam"></img>
				<div class="teamname away teamname-bolder">
					Boca Junior
				</div>
			</div>


			<div class="gameblockcontainertitle">
				<img src="./images/calendar.png">
				<h3>Dec. 3rd 2018</h3>	
			</div>

			<div class="gameblock">
				<div class="gameblock-league">
					Ligue 1
				</div>
				<div class="teamname home teamname-bolder">
					This is the home team qspigherfhglhsfdgufgdhu
				</div>
				<img src="./images/psg.png" class="teamlogo hometeam"></img>
				<div class="game-info game-hour">
					21:00
				</div>
				<img src="./images/mhsc.png" class="teamlogo awayteam"></img>
				<div class="teamname away teamname-bolder">
					Away team name
				</div>
			</div>

			<div class="gameblock">
				<div class="gameblock-league">
					Liga
				</div>
				<div class="teamname home teamname-bolder">
					Another team
				</div>
				<img src="./images/psg.png" class="teamlogo hometeam"></img>
				<div class="game-info game-hour">
					21:30
				</div>
				<img src="./images/mhsc.png" class="teamlogo awayteam"></img>
				<div class="teamname away teamname-bolder">
					Againstmqsfojqfshqslfhdssdhmofhoqj
				</div>
			</div>

			<div class="gameblockcontainertitle">
				<img src="./images/calendar.png">
				<h3>Dec. 4th 2018</h3>	
			</div>

			<div class="gameblock">
				<div class="gameblock-league">
					Ligue 1
				</div>
				<div class="teamname home teamname-bolder">
					Paris Saint-Germain
				</div>
				<img src="./images/psg.png" class="teamlogo hometeam"></img>
				<div class="game-info game-hour">
					21:00
				</div>
				<img src="./images/mhsc.png" class="teamlogo awayteam"></img>
				<div class="teamname away teamname-bolder">
					Montpellier HSC
				</div>
			</div>
		</div>

	</div>

</body>
</html>