<!DOCTYPE html>
<html>
<head>
	<title>Scout | Scheduled games</title>
	<link rel="stylesheet" type="text/css" href="./css/layout-app.css">
</head>
<body>

	<div class="wrapper-header">
		<div class="header">
			<img src="./images/app_logo.png" class="header-logo">

			<!-- <input type="" name="" class="header-search" placeholder="Search"> -->

			<div class="header-user">
				<p>Matthieu Harbonnier</p>
				<img src="./images/mattharbo.png" class="avatar-small avatar-hover avatar-right-marging">
			</div>
		</div>	
	</div>

	<div class="container">

		<div class="left-container">
			<ul class="nav-app">
				<a href="">
					<li class="nav-app-item nav-app-item-activated">
						Dashboard
					</li>
				</a>
				<a href="">
					<li class="nav-app-item">
						Scheduled
					</li>
				</a>
				<a href="">
					<li class="nav-app-item">
						Reports
					</li>
				</a>
				<a href="">
					<li class="nav-app-item">
						Must-sees
					</li>
				</a>
			</ul>
		</div>	

		<div class="right-container">
			<div class="gameblockcontainer">
				<div class="gameblockcontainertitle">
					<img src="./images/calendar.png">
					<h3>December 9th 2018</h3>	
				</div>

				<div class="gameblock">
					<div class="gameblock-league">
						Copa Lib.
					</div>
					<div class="teamname home teamname-bolder">
						River Plate
					</div>
					<img src="./images/riverplate.png" class="teamlogo hometeam"></img>
					<div class="game-info game-finished">
						3 - 1
					</div>
					<img src="./images/bocajunior.png" class="teamlogo awayteam"></img>
					<div class="teamname away teamname-bolder">
						Boca Junior
					</div>
				</div>


				<div class="gameblockcontainertitle">
					<img src="./images/calendar.png">
					<h3>Today</h3>	
				</div>

				<div class="gameblock">
					<div class="gameblock-league">
						CL
					</div>
					<div class="teamname home teamname-bolder">
						Belgrade Red Star
					</div>
					<img src="./images/mhsc.png" class="teamlogo hometeam"></img>
					<div class="game-info game-hour">
						21:00
					</div>
					<img src="./images/psg.png" class="teamlogo awayteam"></img>
					<div class="teamname away teamname-bolder">
						Paris Saint-Germain
					</div>
				</div>		
			</div>
		</div>


	</div>
</body>
</html>